.htmlbasics {
   margin: auto;
   width: 1400px;
}
.cssbasics {
    margin: auto;
    width: 1200px;
}


.html-basics {
    width: 1400px;
    background-color: #f0f0f0;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-bottom: 10px solid #9fa9a3;
    border-radius: 5px 5px 0 0;
}

.css-basics {
    width: 1200px;
    background-color: #e0e2e4;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-bottom: 10px solid #96897f;
    border-radius: 5px 5px 0 0;
}

td{
    padding: 15px;
}

.html-basics th{
    padding: 10px;
    background-color: #9fa9a3;
    color: seashell;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px 5px 0 0;
}

.css-basics th{
    padding: 10px;
    background-color: #96897f;
    color: seashell;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px 5px 0 0;
}

.html-basics td:first-of-type{
    width: 50px;
    font-weight: bold;
    text-align: center;
}

.css-basics td:first-of-type{
    width: 50px;
    font-weight: bold;
    text-align: center;
}

tbody .section-name{
    width: 150px;
    text-align: center;
    font-weight: bold;
}

.html-basics tbody tr:first-of-type{
    font-weight: bold;
    text-align: center;
}

.css-basics tbody tr:first-of-type{
    font-weight: bold;
    text-align: center;
}

ul{
    list-style-type: square; ;
}

.htmlbasics tbody tr:nth-of-type(odd) {
    background-color: #c5d5c5;
}

.css-basics tbody tr:nth-of-type(odd) {
    background-color: #c6bcb6;
}

::selection {background-color: #e3e0cc;}

tr:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: scale(1.03);
}